.login {
	padding-top: 1em;
	padding-bottom: 5em;
	background-color: rgb(56, 58, 58);
}

.container_login {
	padding-left: 2em;
	padding-right: 2em;
}

.intestazione_login {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.25em;
	margin-bottom: 1.5em; 
	border-bottom: 0.1em solid rgb(119, 119, 119);
}

.container_intestazione_login {
	display: flex;
	align-items: center;
}

.icona_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 2em;
	margin-right: 0.25em;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}

.icona_login img {
	width: 55%;
	height: 55%;
}

.container_intestazione_login h2 {
	font-size: 1.95em;
	line-height: 1.2;
	padding-left: 0.25em;
}

.corpo_login {
	display: flex;
	align-items: center;
	width: 100%;
}

.container_corpo_login {
	border: 0.1em solid rgb(119, 119, 119);
	border-radius: 0.25em;
	margin-bottom: 1.5em;
	width: 100%;
	padding: 0.75em;
}

.riga_form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5em;
	margin-left: 10em;
	margin-right: 10em;
}

.riga_form:first-child {
	margin-bottom: 2.5em;
}

.container_riga_form {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 3.5em;
	border: 0.1em solid rgb(119, 119, 119);
	overflow: hidden;
	border-radius: 0.25em;
}

.container_intestazione_riga_form {
	display: flex;
	align-items: center;
	height: 100%;
	background-color: rgb(119, 119, 119);
	border-right: 0.1em solid rgb(119, 119, 119);
	cursor: pointer;
}

.container_intestazione_riga_form img {
	width: 1.25em;
	height: 1.25em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-bottom: 1em;
}

.container_intestazione_riga_form h3 {
	width: 5.75em;
	font-size: 1em;
	color: rgb(255, 255, 255);
	padding-top: 1em;
	padding-left: 0.5em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.container_riga_form input[type="text"], .container_riga_form input[type="password"] {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1em;
	color: rgb(255, 255, 255);
	background-color: rgb(32, 32, 32);
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
}

.pulsante_form, .footer_form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 0.5em;
}

.container_pulsante_form, .container_footer_form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container_pulsante_form button {
	width: 9.35em;
	font-size: 1em;
	height: 3.15em;
	border-radius: 1.5em;
	color: rgb(255,255,255);
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	background-color: rgb(217,118,64);
	border: 0.1em solid rgb(247,148,94);
	text-transform: uppercase;
}

.container_pulsante_form button:hover{
	background-color: rgb(247,148,94);
}

.container_riga_form p, .container_footer_form p {
	width: 100%;
	padding-top: 0.25em;
}

.container_footer_form p{
	display:flex;
	justify-content:center;
	align-items:center;
	padding-top:0.5em;
	margin-bottom:2.5em;
}
.container_riga_form p a, .container_footer_form p a{
	font-size: 1.15em;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.container_riga_form p a:hover, .container_footer_form p a:hover{
	color: rgb(217, 118, 64);
	border-bottom: 0.1em solid rgb(217, 118, 64);
}

.container_footer_form p a{
	margin-left:0.25em;
}